

/* color variables:   line 13 to 29   */
/* base elements:     line 31 to 70   */
/* navbar:            line 72 to 109  */
/* content grid:      line*/
/* help:              line 293 to 355 */





:root {
  --bg-back: #bdc3c7;
  --bg-main: #ecf0f1;
  --bg-main-lite: ;
  --bg-inv: #34495e;
  --bg-inv-lite: #2c3e50;
  --color-main: #2c3e50;
  --color-main-lite: #7f8c8d;
  --color-inv: #ecf0f1;
  --color-inv-lite: #bdc3c7;
  --color-link: #3498db;
  --color-link-lite: #2980b9;
  --red: #e74c3c;
  --red-lite: #c0392b;
  --yellow: #f1c40f;
  --yellow-lite: #f39c12;
}

title {
  display: none;
}

body {
  background: var(--bg-back);
  color: var(--color-main);
  font-family: "montserrat", sans-serif;
  margin: 0px;
}

button {
  color: inherit;
  background: inherit;
  border: inherit;
  font: inherit;
}

a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--color-link-lite);
}

p, blockquote, pre {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.navBox {
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
/*padding-left: 5%;
  padding-right: 5%;*/
  overflow: hidden;
  background: var(--bg-inv);
  color: var(--color-inv);
  z-index: 2;
}

.navPoint {
  float: left;
}

.navLink {
  padding: 17px;
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 3px;
  transition: 0.5s;
  border-radius: 50%;
  cursor: pointer;
}

.navLink:hover {
  color: var(--color-inv-lite);
  background: var(--bg-inv-lite);
  border-radius: 5px;
}

.navText {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .navText {
    display: none;
    transition: display 2s;
  }
  .navLink:hover > .navText {
    display: inline;
  }
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.post {
  background: var(--bg-main);
  padding: 25px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  transition: 0.5s;
}

.post:hover {
  box-shadow: 1px 1px 3px;
}

.post .link {
  color: var(--color-link);
}

.post .link:hover {
  color: var(--color-link-lite);
}

.main {}

.sidebar {}

.grid {
  display: grid;
  grid-template-columns: 75% auto;
  grid-column-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
  }
}

.gridsingle {
  grid-template-columns: auto;
}

.gridtriple {
  grid-template-columns: 1fr 1fr 1fr;
}

.feed {}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  #sidebar {
    display: ;
  }
}

.descr {
  display: inline-block;
  padding: 0;
  margin: 10px;
  padding: 10px;
  text-align: right;
}

.btn {
  background: var(--bg-inv);
  color: var(--color-inv);
  padding: 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: inline;
  transition: 0.8s;
}

.form {
  background: var(--bg-main);
  padding: 25px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  transition: 0.5s;
  white-space: nowrap;
}

.form:hover {
  box-shadow: 1px 1px 3px;
}

.formcontent {
  display: grid;
/*grid-template-columns: 0fr 0fr auto;*/
}

.formsimple {
  grid-template-columns: 50% 50%;
}

.formmax {
  height: calc(100vh - 128px);
}

.formcontentmax {
  height: calc(100% - 50.6px);
  grid-template-rows: 0fr 1fr 0fr 0fr;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px;
  background: var(--bg-main);
  border-radius: 5px;
  margin: 10px;
  display: none;
  z-index: 4;
  padding: 25px;
}

.forminput {
  padding: 10px;
  margin: 10px;
  margin-left: 10px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid var(--bg-main);
  background: #fff;
  font: inherit;
  grid-column: 2 / 4;
}

.greyedout {
  color: var(--color-main-lite);
  background: var(--bg-main);
}

.checkbox {
  grid-column: 2/3;
}

.formlarge {
  grid-column: 1 / 4;
  text-align: left;
  padding-left: 0;
}

.darkener {
  position: fixed;
  top: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #00000088;
  z-index: 3;
}

.grid {
  display: grid;
}

.formcontent.grid {
  column-gap: 0;
  grid-template-columns: 0fr 0fr auto;
}

.grid.equal {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.grid > .formleft {
  grid-column: 1/2
}

.grid > .formright {
  grid-column: 2/3;
}

.grid > .formfull {
  grid-column: 1/3;
}

.formtext.formfull {
  text-align: center;
}

.formtextelement {
  min-width: 100%;
}

/* FAQ page */
.faq-heading{
  border-bottom: #777;
  padding: 20px 60px;
}
.faq-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hr-line{
  width: 60%;
  margin: auto;
}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;

}
.faq-body{
  margin: auto;
  /* text-align: center; */
  width: 50%; 
  padding: auto;
 
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.faq-page:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}

.gridleft {
  grid-column: 1/2
}

.gridright {
  grid-column: 2/3;
}